<app-header></app-header>
<form class="rightside d-flex">
  <section class="example-gallery">     
    <mat-card class="addpostA-card">
      <mat-card class="addpostB-card">
        <div class="form-container">
          <form class="example-form" [formGroup]="formGroup"> <!--(ngSubmit)="editPostProcess()"-->
            <h1>Edit & Update Post</h1>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input name="email" formControlName="email" matInput [innerHtml]="emailid" type="email">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Phone Number 1</mat-label>
              <input name="num1" formControlName="phone_one" matInput placeholder="Phone Number 1">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Phone Number 2</mat-label>
              <input name="num2" formControlName="phone_two" matInput placeholder="Phone Number 2">
            </mat-form-field>  
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Age</mat-label>
              <input name="age" formControlName="age" matInput placeholder="Age">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Website</mat-label>
                <input name="website" formControlName="website" matInput placeholder="Website">
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Street</mat-label>
                <input name="street" formControlName="street" matInput placeholder="Street">
              </mat-form-field>  
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Local City</mat-label>
                <input name="localcity" formControlName="localcity" matInput placeholder="Local City">
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Main City</mat-label>
                <input name="maincity" formControlName="maincity" matInput placeholder="Main City">
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Title</mat-label>
                <input name="title" formControlName="title" matInput placeholder="Title">
              </mat-form-field>  
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Tag</mat-label>
                <input name="tag" formControlName="tags" matInput placeholder="Tag">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Category</mat-label>
                <mat-select name="category" formControlName="category">
                  <mat-option value="Spa">Spa</mat-option>
                </mat-select>
              </mat-form-field>

              <input type="file" name="image" formControlName="image" multiple><br>
              <div class="row">
                <div class="column">
                <!--
                  //// <img [src]="url" width="100" height="80"> ////
              <input *ngFor="let imagepath of imagepaths" name="imagepath" formControlName="imagepath"> 
              <img mat-card-sm-image [src]="ads.image"> -->
            </div>
              </div>

              <editor name="description" formControlName="description" apiKey="xk4ursh66qj6rrxiakp38t0hmzpeihu5e0kkxeyul2jyc0jl" 
              [init]="{
                height: 300,
                width:700,
                menubar: false,
                plugins: [
                  'advlist autolink lists link image charmap print preview anchor',
                  'searchreplace visualblocks code fullscreen',
                  'insertdatetime media table paste code help wordcount'
                ],
                toolbar:
                  'undo redo | formatselect | bold italic backcolor | \
                  alignleft aligncenter alignright alignjustify | \
                  bullist numlist outdent indent | removeformat | help'
              }"
            ></editor>
            
            <button mat-raised-button color="primary">EDIT & UPDATE POST</button>
              
          </form>
        </div>
      </mat-card>
    </mat-card>
  </section>
</form>
-->