<app-header></app-header>
<form class="rightside d-flex">
  <section class="example-gallery">     
    <mat-card class="addpostA-card">
      <mat-card class="addpostB-card">
        <div class="form-container">
          <form class="example-form" [formGroup]="formGroup" (ngSubmit)="addPostProcess()">
            <h1>Create Post</h1>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input name="email" formControlName="email" matInput [innerHtml]="emailid" type="email">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Phone Number 1</mat-label>
              <input name="num1" formControlName="phone_one" matInput placeholder="Phone Number 1">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Phone Number 2</mat-label>
              <input name="num2" formControlName="phone_two" matInput placeholder="Phone Number 2">
            </mat-form-field>  
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Age</mat-label>
              <input name="age" formControlName="age" matInput placeholder="Age">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Website</mat-label>
                <input name="website" formControlName="website" matInput placeholder="Website">
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Street</mat-label>
                <input name="street" formControlName="street" matInput placeholder="Street">
              </mat-form-field>  
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Local City</mat-label>
                <input name="localcity" formControlName="localcity" matInput placeholder="Local City">
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Main City</mat-label>
                <input name="maincity" formControlName="maincity" matInput placeholder="Main City">
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Title</mat-label>
                <input name="title" formControlName="title" matInput placeholder="Title">
              </mat-form-field>  
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Tag</mat-label>
                <input name="tag" formControlName="tags" matInput placeholder="Tag">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Category</mat-label>
                <mat-select name="category" formControlName="category">
                  <mat-option value="Spa">Spa</mat-option>
                </mat-select>
              </mat-form-field>

              <input type="file" (change)="onSelectFiles($event)"><br>
              <div class="row">
                <div class="column">
                  <img [src]="url" width="100" height="80">
                  <input *ngFor="let im of adsImage" name="im"> 
                  <input name="image" formControlName="image" value="{{adsImage}}">
                </div>
              </div>

              <editor name="description" formControlName="description" apiKey="xk4ursh66qj6rrxiakp38t0hmzpeihu5e0kkxeyul2jyc0jl" 
              [init]="{
                height: 300,
                width:700,
                menubar: false,
                plugins: [
                  'advlist autolink lists link image charmap print preview anchor',
                  'searchreplace visualblocks code fullscreen',
                  'insertdatetime media table paste code help wordcount'
                ],
                toolbar:
                  'undo redo | formatselect | bold italic backcolor | \
                  alignleft aligncenter alignright alignjustify | \
                  bullist numlist outdent indent | removeformat | help'
              }"
            ></editor>
            
            <button mat-raised-button color="primary" >ADD POST</button>
              
          </form>
        </div>
      </mat-card>
    </mat-card>
  </section>
</form>

   <!--   <h1>Create Post</h1>
        <form class="align-self-center" [formGroup]="formGroup">

          <mat-form-field>
            <input name="email" formControlName="email" placeholder="Email" type="email">
          </mat-form-field>
          
          <mat-form-field>
            <input name="email" formControlName="email" matInput placeholder="Email" type="email">
          </mat-form-field>
        <mat-form-field>
            <input name="num1" formControlName="phone_one" matInput placeholder="Contact Number 1">
          </mat-form-field>
          <mat-form-field>
            <input name="num2" formControlName="phone_two" matInput placeholder="Contact Number 2">
          </mat-form-field>
          <mat-form-field>
            <input name="age" formControlName="age" matInput placeholder="Age">
          </mat-form-field>
          <mat-form-field>
            <input name="website" formControlName="website" matInput placeholder="Website">
          </mat-form-field>    
          <mat-form-field>
              <input name="street" formControlName="street" matInput placeholder="Street">
            </mat-form-field>      
          <mat-form-field>
            <input name="localcity" formControlName="localcity" matInput placeholder="Localcity">
          </mat-form-field>
          <mat-form-field>
            <input name="maincity" formControlName="maincity" matInput placeholder="Maincity">
          </mat-form-field>
          <mat-form-field>
            <input name="title" formControlName="title" matInput placeholder="Title">
          </mat-form-field>
          <mat-form-field>
            <input name="tags[]" formControlName="tags" matInput placeholder="Tag">
          </mat-form-field>
         
         
          <mat-form-field class="example-chip-list" appearance="fill">
            <mat-label>Tags</mat-label>
              <mat-chip-list #chipList aria-label="tag selection">
                <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
                  {{tag.name}}
                  <button class="btn-close" aria-label="Close" matChipRemove *ngIf="removable"></button>
                </mat-chip>
                <input name="tags" placeholder="Add Tag..."
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
          </mat-form-field>
           -->
          
       <!--   <mat-form-field appearance="fill">
              <mat-label>Category</mat-label>
              <mat-select name="category" formControlName="category">
                <mat-option value="Spa">Spa</mat-option>
              </mat-select>
          </mat-form-field>

       
          <input type="file" name="image" formControlName="image" multiple (change)="onSelectFiles($event)"><br>
          <label>can upload maximum 4 images</label>
          <div class="row">
            <div class="column">
                <img [src]="url" width="100" height="80">
            / <input *ngFor="let imagepath of imagepaths" name="imagepath" formControlName="imagepath">  /
            </div>
          </div>

<editor name="description" formControlName="description" apiKey="xk4ursh66qj6rrxiakp38t0hmzpeihu5e0kkxeyul2jyc0jl" 
  [init]="{
    height: 300,
    width:700,
    menubar: false,
    plugins: [
      'advlist autolink lists link image charmap print preview anchor',
      'searchreplace visualblocks code fullscreen',
      'insertdatetime media table paste code help wordcount'
    ],
    toolbar:
      'undo redo | formatselect | bold italic backcolor | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist outdent indent | removeformat | help'
  }"
></editor>

<button mat-raised-button color="primary">ADD POST</button>

</form>
</div>
-->