<head>
</head>
<body>
    <app-header></app-header>
    <div class="row g-0">
        <div class="col g-0">
            <section class="home">                    
                <mat-card class="home-card2">
                    <img class="home-images" src="https://mcdn.wallpapersafari.com/medium/31/94/XdQmpL.jpg">
                        <img class="home-images" src="https://mcdn.wallpapersafari.com/medium/1/27/3vfOko.jpg">
                        <img class="home-images" src="https://mcdn.wallpapersafari.com/medium/73/52/Gy63Wl.jpg">
                        <img class="home-images" src="https://mcdn.wallpapersafari.com/medium/0/32/kLv5my.jpg">
                        <img class="home-images" src="https://mcdn.wallpapersafari.com/medium/66/38/k7LpHw.jpg">
                        <img class="home-images" src="https://mcdn.wallpapersafari.com/medium/41/68/ZI4RDF.jpg">
                        <img class="home-images" src="https://mcdn.wallpapersafari.com/medium/4/68/aknO61.jpg">
                        <img class="home-images" src="https://mcdn.wallpapersafari.com/medium/79/92/wR34EK.jpg">
                        <img class="home-images" src="https://mcdn.wallpapersafari.com/medium/92/19/JFGKCW.jpg">
                        <img class="home-images" src="https://wallpapersafari.com/image/wallpapers-spa.jpg">
                        <img class="home-images" src="https://mcdn.wallpapersafari.com/318/18/41/0L7Ef6.jpg">
                        <img class="home-images" src="https://mcdn.wallpapersafari.com/318/89/1/qaQi5r.jpg">
                </mat-card>
            </section>
        </div>
    </div>
</body>